---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<p>Welcome to my home</p>

<p>Let's add more to the home page on a different branch</p>

{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the POST archive</a>.</p>
